
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <%= form_for @instant_message, url: {action: "create"} do |m| %>
      
        <div class="form-group">
          <%= m.label :message, "Write a message" %>
          <%= m.text_area :message, class: 'form-control' %>          
        </div>

        
        <%= m.submit "Send Message", class: 'btn btn-primary' %>
  
      <% end %>
    </div>
  </div>
</div>